@import "../../../app/globals";

.sidebar {
  @include container(0);
  @extend .fixed;
  padding-top: $header-height;
  top: calc($header-top + $distance-between-elements); /* Положение сверху */
  left: -250px; /* Сдвигаем боковую панель за пределы экрана */
  width: $sidebar-width;
  z-index: 2; /* Порядок слоя */

  ul {
    list-style: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */

    li {
      margin: 0; /* Убираем внешние отступы */

      a {
        align-items: center; /* Выравниваем элементы по центру по вертикали */
        border-radius: $container-border-radius;
        color: $container-color-font; /* Цвет текста */
        display: flex;
        padding: $base-size;
        text-decoration: none;

        &:hover, &:focus, &:active {
          background: $container-color-active; /* Цвет фона при наведении */
          color: $container-color-background;
        }

        &.active {
          background: $container-color-active; /* Цвет фона при наведении */
          color: $container-color-background;
        }

        i {
          margin-right: 10px/14px * $base-size; /* Отступ справа */
        }
      }
    }
  }

}

.displayed {
  left: $sidebar-left; /* Перемещаем боковую панель влево */
}


