@import "../../app/globals";

.container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  gap: $distance-between-elements; /* Space between input elements */
  padding: $base-padding;

  label {
    display: flex;
    align-items: center; /* Align text with input vertically */
    gap: 0.5rem; /* Space between input and text */
    font-weight: bold; /* Bold text for labels */
  }

  input {
    padding: 0.5rem; /* Padding inside input box */
    border: 1px solid darken($base-color-background, 10%); /* Border color */
    border-radius: 0.25rem; /* Rounded corners */
    font-size: $base-font-size;
    color: $base-color-active;
    font-weight: bolder;


    &::placeholder {
      color: lighten($base-color-active, 25%); /* Placeholder text color */
      font-style: italic; /* Optional: Italic style for placeholder */
    }
  }
}