@import "../../../app/globals";

.separator {
  @extend .fixed;
  background: $base-color-background;
  top: 0;
  padding: 0;
  margin: 0;
  height: calc($header-height + $header-top + $distance-between-elements);
  width: 100%;
  z-index: 2;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  color: $container-color-active;
  font-size: $header-font-size;

  &:focus {
    outline: none;
    border: none;
  }
}