@import "../../../app/globals.scss";

/* Общие стили */
.infoBar {
  @include container(0);
  @extend .fixed;
  border-radius: $border-radius;
  padding: $container-padding * 1.4;
  width: $infoBar-width;
  height: auto;
  box-sizing: border-box;
  right: -600px;
  z-index: 3;

}

.displayed {
  right: $infoBar-right;
}
