@import "globals";

:root {
  font-family: $base-font-family;
  font-size: $base-font-size;

  body {
    background: $base-color-background;
    padding: 0;
    margin: 0;
  }

  header {
    font-size: $header-font-size;
    @include container(0);
    @extend .fixed;
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    display: flex; /* Располагаем элементы в строку */
    justify-content: space-between; /* Равномерно распределяем пространство между элементами */
    top: $header-top;
    left: $base-size;
    right: $base-size;
    height: $header-height;
    z-index: 3;
  }
}